/*
	GYDUS
	WFP
	AUTHORS: GEOFFREY GANGA
			 JARVIS JARDIN
*/



/*------------------------- global styles ---------------------------*/





.hide{
	display:none;
}

.gydus-block{
	display: block;
}

img{
	max-width: 100%;
	height: auto;
}

.wrapper{
/* 	margin:0 auto; */
}

.checkuser{
	color:#0da111;
	margin-left:1em;
	font-size: 1.3em;
}
.wronguser{
	color:red;
	margin-left:1em;
	font-size: 1.3em;
}
.checkpass{
	color:#0da111;
	margin-left:1em;
	font-size: 1.3em;
}

.wrongpass{
	color:red;
	margin-left:1em;
	font-size: 1.3em;
}

.checkemail{
	color:#0da111;
	margin-left:1em;
	font-size: 1.3em;
}

.wrongemail{
	color:red;
	margin-left:1em;
	font-size: 1.3em;
}

.checksasSpotname{
	color:#0da111;
/* 	margin-left:1em; */
	font-size: 1.3em;
}

.wrongsasSpotname{
	color:red;
/* 	margin-left:1em; */
	font-size: 1.3em;
}

.checksasdesc{
	color:#0da111;
/* 	margin-left:1em; */
	font-size: 1.3em;
}

.wrongsasdesc{
	color:red;
/* 	margin-left:1em; */
	font-size: 1.3em;
}


/*------------------------- nav bar ---------------------------*/
.navbar-inner.dark-header{
	min-height: 40px;
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f2f2 0%, #edeced 9%, #e0dedf 47%, #dedcdd 47%, #dcdada 57%, #d9d7d8 59%, #d7d6d7 67%, #d2d0d1 76%, #cbc9c9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(9%,#edeced), color-stop(47%,#e0dedf), color-stop(47%,#dedcdd), color-stop(57%,#dcdada), color-stop(59%,#d9d7d8), color-stop(67%,#d7d6d7), color-stop(76%,#d2d0d1), color-stop(100%,#cbc9c9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f2f2 0%,#edeced 9%,#e0dedf 47%,#dedcdd 47%,#dcdada 57%,#d9d7d8 59%,#d7d6d7 67%,#d2d0d1 76%,#cbc9c9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f2f2 0%,#edeced 9%,#e0dedf 47%,#dedcdd 47%,#dcdada 57%,#d9d7d8 59%,#d7d6d7 67%,#d2d0d1 76%,#cbc9c9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f2f2 0%,#edeced 9%,#e0dedf 47%,#dedcdd 47%,#dcdada 57%,#d9d7d8 59%,#d7d6d7 67%,#d2d0d1 76%,#cbc9c9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f2f2 0%,#edeced 9%,#e0dedf 47%,#dedcdd 47%,#dcdada 57%,#d9d7d8 59%,#d7d6d7 67%,#d2d0d1 76%,#cbc9c9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cbc9c9',GradientType=0 ); /* IE6-9 */
height:80px;
}

.navbar.gydus-nav{
	margin-bottom: 0%;

}


/*------------------------- end of nav bar ---------------------------*/





/*------------------------- logo and header ---------------------------*/


.Logo span{
	display: inline-block;
	font-size: 0;
}
.logo{
	margin-left:1em;
	margin-top:1em;
}



a.signin.nav-signin{
	margin-right: -2em;
	margin-top:1em;
	font-family: "Helvetica";
	font-size: 1.1em;
	color:black;
	text-shadow: none;
}

.landing{
	background-color:#B3D7F2;
	 }





/*--------------------end of logo ---------------------------*/



/*--------------------icons ---------------------------*/

.dbName{
	margin-left:-6em;
	margin-top:2em;	
}
.brand.signin.nav-signin{
	background:url("../img/cog_icon-01.png")no-repeat;
	width:48px;
	height:50px;
}


/*------------------------- search bar ---------------------------*/
.cta-searchbar{

}
/*
.gydus-searchBar{
	margin:0;
	width: 70%;
}
*/
.span2.searchBar{
	width:40%;
	margin-left:19em;
	margin-top:5em;
	height: 30px;
	border:3px solid black;

}
.btn.gydus-searchbtn{
	padding-top: 7px;
	padding-bottom: 6px;
	height:30px;
	border-top: 3px solid black;
	border-right: 3px solid black;
	border-left: 0px;
	border-bottom:3px solid black;

}

.input-append.gydus-searchbox{
	width: 59%;

}


.well.gydus-well{
	padding-top:9px;
	margin-bottom: 0px;
	border:none;
}
.icon-search{
	margin-left: 300;
}
/*

.scroll{
	max-height:20%;
	width:100%;
	border:1px solid #ccc;
	overflow:auto;
	position:absolute;
}
*/

/*------------------------- end of search bar ---------------------------*/


/*------------------------- map ---------------------------*/

.map{
	height:36px;
	background-color: green;
}

#map_container{
	width: 90%;
	height: 70%;
}

/*-------------------------  end of map ---------------------------*/




/*-------------------------  login and form items ---------------------------*/

.form-horizontal .controls.gydus-pwchange {
margin-left: 5%;
}

input.span2.gydus-span{
	width: 83%;
}


.accnt-settings{
	display: none;
}

.dropdown-menu.nav-tabs.nav-stacked.hide{
	display: none;
}

/* ------------------------  CTA ---------------------------*/

.CTA{
background: url("../img/CTAbg.png")no-repeat;
height:627px;
width:100%;
margin-top:5.98em;

}


.cta-text{
	font-family: "Helvetica";
	font-size: 3.5em;    /*48 px*/
	line-height: 1.3em;
	margin-top:3em;
	margin-left:5.4em;
	color: #ffffff;
	width: 60%;
	font-weight: lighter;
	text-shadow: 4px 4px 5px #454545;
filter: dropshadow(color=#454545, offx=4, offy=4);

}


/* --- signup section --- */

.signup-section{
width: 100%;
height:5.37em;
 background-color: #cdebf1;
 border: 1px solid #777c7c;
}

.signup-section-text{
	font-family: "Helvetica";
	font-size: 1.97em;
	margin-top:1.1em;
	margin-left: 9.7em;
	font-weight: lighter;


}
.signup-section-btn{
	width: 10%;
	margin-top:-3.1em;
/* 	padding-bottom: 3em; */
	margin-right: 20em;
}


/*-------------GYDUS BENNIFITS -------------*/
.gydus-bennifits-holder{
	background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(176,174,175,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(176,174,175,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(176,174,175,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(176,174,175,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(176,174,175,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(176,174,175,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#b0aeaf',GradientType=0 ); /* IE6-9 */
width:100%;
height:252.086px;

border-bottom: 1px solid #777c7c;
display: block;
  float: left;
  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}


.benni-one{
	background: url("../img/clockicon.png")no-repeat;
	width: 100%;
	height: 119px;
	margin-left: 30em;
	margin-top: 1.25em;
	padding-left:203m;
}

.benni-one-txt{
	font-family: "Helvetica";
	font-size: 1.5em;
	color: #375967;
	margin-top:7em;
}

.benni-two{
	background: url("../img/checkicon.png")no-repeat;
	width: 100%;
	height: 119px;
/* 	margin-left: 21em; */
	margin-top: 1.25em;
	
}
.benni-two-txt{
	font-family: "Helvetica";
	font-size: 1.5em;
	color: #375967;
	margin-top:7em;
}

.benni-three{
	background: url("../img/navicon.png")no-repeat;
	width: 100%;
	height: 124px;
/* 	margin-left: 21em; */
	margin-top: 1.25em;
	
}

.benni-three-txt{
	font-family: "Helvetica";
	font-size: 1.5em;
	color: #375967;
	margin-top:7em;
}






/*-- video section --*/
.gydus-bottom{
width: 100%;
background-color: #a9a9aa;

}
.video-section{
margin-top:2em;
margin-left:20em;
}

.video-video{
	margin-left:20;
	padding-top:20;
	padding-bottom:20;
}
.vidTitle{
	color:#14859f;
}

/*-- keyfeatures section --*/
.keyfeatures-section{
	margin-top:3em;
	margin-right: 20em;
	background-color: #b0c9cc;
	border:1px solid #777c7c;
	height:249px;
	width:30%;
}
.keyfeatures-section-title{
	color: #14859f;
	font-family: "Helvetica Neue";
	margin-right:10em;
}

.kfsT{
}

.updateLink{
	color:#1f441f;
	font-size: 1.2em;
	margin-left: 2em;
	text-decoration: underline;
}

.whatsnew{
	color: #617d92;
	margin-top: 2em;
	margin-left:2em;
}

.newitems li{
	color:#000000;
	margin-left: 2em;
}


/*--------- LOGIN FORM ---------*/
.notmemyetsec.alert.alert-info{
	background: #d6f9ff; /* Old browsers */
background: -moz-linear-gradient(top,  #d6f9ff 0%, #9ee8fa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6f9ff), color-stop(100%,#9ee8fa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d6f9ff 0%,#9ee8fa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d6f9ff 0%,#9ee8fa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d6f9ff 0%,#9ee8fa 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d6f9ff 0%,#9ee8fa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=0 ); /* IE6-9 */
margin-top:5.2em;
}
.nomemyettitle.pull-left{
	color:#717070;
	margin-left: 1em;
	margin-top:.6em;
}
.h4notmemyet.pull-left{
	margin-left: -7.4em;
		margin-top:1.6em;
}



.fb-btn{
	margin-top:1em;
}
.gydus-login{

		width: 100%;
		margin-top:3em;

}

.gydus-login-headertxt{
	color:#385359;
	font-family: "helvetica";
	font-size: 2em;
	margin-left: 1em;
}
.form-horizontal.gydus-form-horizontal{
	margin-left:-2em;

}

#login-inputEmail{
	padding-top: 7px;
	padding-bottom: 6px;
	background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
font-size: 1.25em;
width:60%;
}

.loginEmailError{
padding:.5em;
background: rgb(249,139,139); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,139,139,1) 0%, rgba(255,30,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,139,139,1)), color-stop(100%,rgba(255,30,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f98b8b', endColorstr='#ff1e1e',GradientType=0 ); /* IE6-9 */

/* 	border:2px solid #b94a48; */
	width: 46%;
}

.loginemailerr{
	margin-top:.5em;
	color:white;
}



#login-inputPassword{
	padding-top: 7px;
	padding-bottom: 6px;
	background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
font-size: 1.25em;
width: 60%;

}

.loginPwError{
padding:.5em;
background: rgb(249,139,139); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,139,139,1) 0%, rgba(255,30,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,139,139,1)), color-stop(100%,rgba(255,30,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f98b8b', endColorstr='#ff1e1e',GradientType=0 ); /* IE6-9 */


/* 	border:2px solid #b94a48; */
	width: 46%;
}

.loginpasserr{
	margin-top:.5em;
	color:white;
}

.gydus-loginbtncontrols.controllers{
	margin-left:0;
}
/*--------- Register FORM ---------*/

.gydus-register-headertxt{
	color:#385359;
	font-family: "helvetica";
	font-size: 2em;
	margin-left: 1em;
}
.gydus-register{
	margin-top:10em;
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

	
	width: 100%;

}

.gydus-register .control-group{
	width:100%;
}

.gydus-register .control-group input{
	width:60%;
}
.gregE-control-group.control-group{
	margin-top:1em;
}

.gydus-accinfo-headertxt{
	color:#385359;
	font-family: "helvetica";
	font-size: 1.5em;
	margin-left: 5em;
}
.gydus-password-headertxt{
	color:#385359;
	font-family: "helvetica";
	font-size: 1.5em;
	margin-left: 5em;

}
.gydus-register-headertxt{
	color:#385359;
	font-family: "helvetica";
	font-size: 2em;
	margin-left: 1em;
}
.form-horizontal.gydus-form-horizontal{
	margin-left:-2em;

}

#reg-inputName{
	padding-top: 7px;
	padding-bottom: 6px;
	background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
font-size: 1.25em;
}

#reg-inputEmail{
	padding-top: 7px;
	padding-bottom: 6px;
	background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
font-size: 1.25em;

}

#reg-inputPassword{
	padding-top: 7px;
	padding-bottom: 6px;
	background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
font-size: 1.25em;

}


#reg-inputConfirmPassword{
	padding-top: 7px;
	padding-bottom: 6px;
	background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
font-size: 1.25em;

}
/*-------------------------------

		FIND LOCATION

-------------------------------*/

.searchView{
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
	border:.2em solid #385359;
	border-radius: .5em;
	width: 100%;

}
.findLocation{
/* 	margin-top:3em; */
width: 100%;
	
}
.h3-findlocationtitle{
	color:#1d77a3;
	margin-left: 2em;
	
}

.gydus-findL-btn.btn.btn-danger{
margin-top:-3em;
margin-right:10%;
}
.gydus-kw-append{
	width:60%;
}
.gydus-kw-search{
margin-left:5em;
	width:100%;
}
.searchOR{
margin-top:-.2em;
	margin-left: 7em;
}

.buildingSelect{
margin-top:-.2em;
	width:60%;
	margin-left:5em;
}
.poiTitleSection.alert.alert-info{
	margin-top:2em;
}
.poiTitleSection.alert.alert-info h4{
	margin-left:2em;
}

.pointsofinterest{
	width:100%;
}

.poiSelection.btn-group{
	margin-left:20%;
	width:100%;
	
}
.pointsofinterest button{
	padding-right:5%;
}
.poiSelectionDos.btn-group{
	margin-left:20%;
	width:100%;
	margin-top:1%;
	
}

.poiSelection label{
	padding-left:1.5em;
}

.poiSelectionTwo label{
	padding-left:1.5em;
}

/*
.poiSelectionTwo{
	margin-left:3.4em;	
	width:5em;
}
*/

.suggestSpotbtn{
	margin-top:1em;
}


.gydus-findL-btn-drop.pull-right.clearfix{
margin-top:-3em;
margin-right:10%;
font-size: 1em;
color:#305528;
border:none;
}
/*-------------------------------

		sasView

-------------------------------*/

.sasView{
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
	border:.2em solid #385359;
	border-radius: .5em;
	margin-top: 5em;
	width: 100%;


}

#sasPrompt{
	margin-top:5.1em;
}
.gydus-kw-append-desc.control-group{
	width:60%;
	
	
}

.gydus-kw-search-spotDesc{
	margin-left:5em;
	margin-top:1em;
	width:100%;
}

.sasCancel{
	margin-top:1em;
}

/*-------------------------------

		MAP VIEW

-------------------------------*/
.map-spot{
	width:100%;
	height:550px;
}
.mapCanvas{
/* 		margin-left:2em; */
		background-color:purple;
			margin-top:0em;


}
.map-view-fL.btn.btn-large.btn-block{
	background: #d6f9ff; /* Old browsers */
background: -moz-linear-gradient(top,  #d6f9ff 0%, #9ee8fa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6f9ff), color-stop(100%,#9ee8fa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d6f9ff 0%,#9ee8fa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d6f9ff 0%,#9ee8fa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d6f9ff 0%,#9ee8fa 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d6f9ff 0%,#9ee8fa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=0 ); /* IE6-9 */
	color:#1d77a3;
margin-top:-.4em;
}
.map-view-fL a:hover{
list-style-type: none;
text-decoration: none;
}
.map-view-fL a{
	display:inline-block;
	width: 100%;
	font-style: "Helvetica";
}


/*-------------------------------

	ACCOUNT SETTINGS MENU
	   from map view

-------------------------------*/

.acctMenu{
	height:15em;
	width: 100%;
}

.acctSettings{
	height:4.5em;
	width: 100%;
}

.acctSettings:hover{
	height:4.5em;
	width: 100%;
	background-color:#4695f4;
}

.accountSettingsHead{
	color:#000000;
}

.logOutacctSettings{
margin-top:-1.5em;
	height:4.5em;
	width: 100%;
}
.logOutacctSettings:hover{
	margin-top:-1.5em;
	height:4.5em;
	width: 100%;
	background-color:#ff0000;

}

.logOutaccountSettingsHead{
/* 	margin-left:27em; */
	color:#000000;
}

/*-------------------------------

	ACCOUNT SETTINGS VIEW
	   

-------------------------------*/

.accountSettingsView{
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

	margin-top: 6em;
	width: 100%;
	
}
.accountSettingsView form .controls{
	margin-left:1em;
	
}
.gydus-accSet-name-input.input-xlarge{
	width:70%;
}
.gydus-controls-accountSet.controls{}
.accountSettingsView form .controls button{
	margin-left:11.3em;
	margin-top:3em;
}
.accountSettingsView form.acct-cancel{
/* 	margin-left:2em; */
}

.currentAccinfo{
	padding:1em;
	margin-left: 2em;

}

.gydus-kw-search-name{
	margin-left:6em;
	width:100%;
}

.gydus-kw-search-email{
	margin-left:5em;
	margin-top:3em;
	width:100%;
}
.acct-cancel{
	margin-top:2em;
}
.eAS-controls{
	margin-top:2em;
}
/*-------------------------------

	EDIT ACCOUNT SETTINGS VIEW
	   

-------------------------------*/

.gydus-editAccSett{
	margin-top:10em;
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

	width: 100%;	
}

.gydus-editAccSett .control-group{
	width:100%;
}

.gydus-editAccSett .control-group input{
	width:60%;
	margin-top:1em;
}


/*-------------------------------

	GYDUS MENU
	   

-------------------------------*/
.gydusSetDrop.dropdown-menu{
	
position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  width:100%;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.gydusSetDrop.dropdown-menu a{
	font-size: 1.4em;
}


.gydusUserDrop.dropdown-menu{
	position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: right;
  min-width: 160px;
  padding: 5px 0;
  width:100%;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;

	
}

/*----- CONTACT US ----*/

.gydus-contactus{
/* 	margin-top:4em; */
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

	
	width: 100%;

}

#gyduscontactcg{
	margin-top:1em;
}

.dropdownSubject{
	margin-left:13em;
}

.gyduscontact.control-group{
	margin-top:3em;
}
.contactusbutton.btn.btn-large.btn-block.btn-info{
	margin-top:-1.9em;
}

/*---- NAVIGATION -----*/
.navigationforms.alert.alert-info{
/* 	margin-left:-1em; */
	width:90%;
}
.getdirections.btn.btn-large.btn-block{
/* 	margin-left:-1em; */
	width:100%;
}
button.gydussetbacktomap.btn.btn-mini.btn-info{
	margin-left:-6em;
}
.cuback{
	margin-left:5em;
}

.contactus-back{
	margin-top:-2.9em;
	margin-left:1em;
}

/*-------------------------------

		   FOOTER
	   

-------------------------------*/

/*
.footer.row{
	margin-top:-5em;
margin-left:20em;
height:107px;
border:none;
}

.footer.row button{
	border:none;
}
*/

.foot-nav{
	height:75px;
	width:246px;
	background: url("../img/navbtnfooter-01.png")no-repeat;
		border:none;

}


.foot-GPS{
	height:107px;
	width:159px;
	background: url("../img/gpsbtnfooter-01.png")no-repeat;
	border:none;
}


.foot-sas{
	height:75px;
	width:246px;
	background: url("../img/sasbtnfooter-01.png")no-repeat;
		border:none;

}


/*-- developers corner --*/

.gydus-dev-Corner-titlebtn{
	margin-top:4.8em;
}
.gydus-dev-Corner-titlebtn h3 a:hover{
text-decoration: none;
}
.gydus-dev-Corner-titlebtn h3 a{
	color:white;
}

.gydus-decorner-btn.btn.btn-link:hover{
	text-decoration: none;
}

.gydus-decorner-btn.btn.btn-link{
margin-top:-1.45em;
margin-right:10%;
color:white;
font-size: 2em;
padding:.3em;

}
.meetDCtitle{
	margin-left: 3em;
}

.DCbios.row-fluid{
	height:443px;
	
	width:100%;
}
.person1.span4{
	height:100%;
	margin-left:3%;

	
}

.row-fluid .person1.offset2:first-child {
margin-left: 3%;
}
.person1pic{
	background: url("../img/jarvis.png")no-repeat;
	height:202px;
	width: 201px;
	
}

.person1bio{
	height:100%;
	min-width: 201px;
	margin-top:1em;
}

.person2.span4{
	height:100%;
	
}

.person2pic{
	background: url("../img/geoff.png")no-repeat;
	height:202px;
	width:201px;
	
}

.person2bio{
	height:100%;
	margin-top:1em;
}

/*---- terms and conditons --*/
.termsView{
	margin-top:1em;
}

.gydus-terms-titlebtn{
	margin-top:5em;
}

.gydus-terms-titlebtn a{
	color:white;
}
.accordion-heading{
background-color:#1e78a5;
}

.accordion-heading:hover{
background-color:#37a6d1;
}
.accordion-toggle:hover{
list-style-type: none;
text-decoration: none;
color:white;

}
.accordion-toggle{
color:white;
}

.accordion-inner{
	background-color:white;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------- 



																RESPONSIVE MARKETPAGE
																
																
------------------------------------------------------------------------------------------------------------------------------------------ ---------------------------*/
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {



/*-------- MOBILE CTA -----------*/
.CTA{
		background: url("../img/mobileCta.png")no-repeat;
		height:362px;
		width:100%;
		margin-top:5.98em;

		}
		
.cta-text{
	font-family: "Helvetica";
	font-size:1.8em;    /*48 px*/
	color: #ffffff;
	margin-left:.5em;
	width: 100%;
	font-weight: lighter;
	text-shadow: 4px 4px 5px #454545;
filter: dropshadow(color=#454545, offx=4, offy=4);

		}
		
.cta-searchbar{
	width:100%;
}
.cta-searchform{
	margin-left:-18em;
}

.input-append gydus-searchbox{
	width: 100%;
	margin-left:-3em;

}


.span2.searchBar{
	width:120%;
}




/*-------- MOBILE SIGN UP NOW -----------*/

.signup-section{
	height:auto;
}
.signup-section-text{
	margin-left:4em;
	font-size: 1.3em;
	width:70%;
}

.signup-section-btn{
  width: 100%;
  padding-bottom:1em;
  
}

.btn.btn-large.btn-block.gydus-btn-large.btn.btn-success{
	 display: block;
  width: 100%;
  margin-left:16em;
  margin-top:2.4em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          
   padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

}




/*-------- MOBILE BENNIFITS -----------*/

.gydus-bennifits-holder{
	display: none;
}




/*-------- MOBILE GYDUS BOTTOM -----------*/

.gydus-bottom {
	width:100%;
	
}

.vidTitle{
	font-size:1.8em;
	margin-left:-10.8em;
	
}

.gydus-video{
	margin-left:-20em;
	width:auto;
}

.keyfeatures-section{
	margin-right:0em;
/* 	margin-top:20em; */
	width:100%;
}

.kfsT{
	font-size:1.8em;
	margin-left:.3em;
}

.updateLink{
	margin-left:3em;
	font-size:.9em;
	}
	
.whatsnew{
	margin-top:1em;
}


/*-------- MOBILE GYDUS FOOTER -----------*/


#footer{
	float:left;
	clear:right;
	margin-top:-31px;
}
.foot-nav{
	height:48px;
	width:156px;
	background: url("../img/navigationbtn-01.png")no-repeat;
		border:none;

}


.foot-GPS{
	height:68px;
	width:102px;
	background: url("../img/GPSbttn-01.png")no-repeat;
	border:none;
}


.foot-sas{
	height:48px;
	width:158px;
	background: url("../img/suggestASbtn-01.png")no-repeat;
		border:none;

}



		
}/*-- end of media query--*/




	



