/*
	GYDUS
	WFP
	AUTHORS: GEOFFREY GANGA
			 JARVIS JARDIN
*/



/*------------------------- global styles ---------------------------*/





.hide{
	display:none;
}

.gydus-block{
	display: block;
}

img{
	max-width: 100%;
	height: auto;
}

.wrapper{
/* 	margin:0 auto; */
}



/*------------------------- nav bar ---------------------------*/
.navbar-inner.dark-header{
	min-height: 40px;
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f2f2 0%, #edeced 9%, #e0dedf 47%, #dedcdd 47%, #dcdada 57%, #d9d7d8 59%, #d7d6d7 67%, #d2d0d1 76%, #cbc9c9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(9%,#edeced), color-stop(47%,#e0dedf), color-stop(47%,#dedcdd), color-stop(57%,#dcdada), color-stop(59%,#d9d7d8), color-stop(67%,#d7d6d7), color-stop(76%,#d2d0d1), color-stop(100%,#cbc9c9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f2f2 0%,#edeced 9%,#e0dedf 47%,#dedcdd 47%,#dcdada 57%,#d9d7d8 59%,#d7d6d7 67%,#d2d0d1 76%,#cbc9c9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f2f2 0%,#edeced 9%,#e0dedf 47%,#dedcdd 47%,#dcdada 57%,#d9d7d8 59%,#d7d6d7 67%,#d2d0d1 76%,#cbc9c9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f2f2 0%,#edeced 9%,#e0dedf 47%,#dedcdd 47%,#dcdada 57%,#d9d7d8 59%,#d7d6d7 67%,#d2d0d1 76%,#cbc9c9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f2f2 0%,#edeced 9%,#e0dedf 47%,#dedcdd 47%,#dcdada 57%,#d9d7d8 59%,#d7d6d7 67%,#d2d0d1 76%,#cbc9c9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cbc9c9',GradientType=0 ); /* IE6-9 */

}

.navbar.gydus-nav{
	margin-bottom: 0%;

}


/*------------------------- end of nav bar ---------------------------*/





/*------------------------- logo and header ---------------------------*/


.Logo span{
	display: inline-block;
	font-size: 0;
}
.logo{
	margin-left:2em;
}



a.signin.nav-signin{
	margin-right: 1em;
	margin-top:0.625em;
	font-family: "Helvetica";
	font-size: 1.1em;
	color:black;
	text-shadow: none;
}

.landing{
	background-color:#B3D7F2;
	 }


/*--------------------end of logo ---------------------------*/



/*--------------------icons ---------------------------*/

.cog-icon, .star-icon{
	display: inline-block;
	margin-top: 1px;
	line-height: 30px;
	vertical-align: text-top;
	background-repeat: no-repeat;


}


/*------------------------- search bar ---------------------------*/
.cta-searchbar{

}
/*
.gydus-searchBar{
	margin:0;
	width: 70%;
}
*/
.span2.searchBar{
	width:40%;
	margin-left:19em;
	margin-top:5em;
	height: 30px;
	border:3px solid black;

}
.btn.gydus-searchbtn{
	padding-top: 7px;
	padding-bottom: 6px;
	height:30px;
	border-top: 3px solid black;
	border-right: 3px solid black;
	border-left: 0px;
	border-bottom:3px solid black;

}

.input-append.gydus-searchbox{
	width: 59%;

}


.well.gydus-well{
	padding-top:9px;
	margin-bottom: 0px;
	border:none;
}
.icon-search{
	margin-left: 300;
}
/*

.scroll{
	max-height:20%;
	width:100%;
	border:1px solid #ccc;
	overflow:auto;
	position:absolute;
}
*/

/*------------------------- end of search bar ---------------------------*/


/*------------------------- map ---------------------------*/

.map{
	height:36px;
	background-color: green;
}

#map_container{
	width: 90%;
	height: 70%;
}

/*-------------------------  end of map ---------------------------*/




/*-------------------------  login and form items ---------------------------*/

.form-horizontal .controls.gydus-pwchange {
margin-left: 5%;
}

input.span2.gydus-span{
	width: 83%;
}


.accnt-settings{
	display: none;
}

.dropdown-menu.nav-tabs.nav-stacked.hide{
	display: none;
}

/* ------------------------  Modal list items ---------------------------*/

/*-----cta-----*/
.CTA{
background: url("../img/CTAbg.png")no-repeat;
height:627px;
width:100%;
margin-top:5.98em;

}


.cta-text{
	font-family: "Helvetica";
	font-size: 3.5em;    /*48 px*/
	line-height: 1.3em;
	margin-top:3em;
	margin-left:5.4em;
	color: #ffffff;
	width: 60%;
	font-weight: lighter;
	text-shadow: 4px 4px 5px #454545;
filter: dropshadow(color=#454545, offx=4, offy=4);

}


/* --- signup section --- */

.signup-section{
width: 100%;
height:5.37em;
 background-color: #cdebf1;
 border: 1px solid #777c7c;
}

.signup-section-text{
	font-family: "Helvetica";
	font-size: 1.97em;
	margin-top:1.1em;
	margin-left: 9.7em;
	font-weight: lighter;


}
.signup-section-btn{
	width: 10%;
	margin-top:-3.1em;
/* 	padding-bottom: 3em; */
	margin-right: 20em;
}


/*-------------GYDUS BENNIFITS -------------*/
.gydus-bennifits-holder{
	background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(176,174,175,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(176,174,175,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(176,174,175,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(176,174,175,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(176,174,175,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(176,174,175,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#b0aeaf',GradientType=0 ); /* IE6-9 */
width:100%;
height:252.086px;

border-bottom: 1px solid #777c7c;
display: block;
  float: left;
  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}


.benni-one{
	background: url("../img/clockicon.png")no-repeat;
	width: 100%;
	height: 119px;
	margin-left: 30em;
	margin-top: 1.25em;
	padding-left:203m;
}

.benni-one-txt{
	font-family: "Helvetica";
	font-size: 1.5em;
	color: #375967;
	margin-top:7em;
}

.benni-two{
	background: url("../img/checkicon.png")no-repeat;
	width: 100%;
	height: 119px;
/* 	margin-left: 21em; */
	margin-top: 1.25em;
	
}
.benni-two-txt{
	font-family: "Helvetica";
	font-size: 1.5em;
	color: #375967;
	margin-top:7em;
}

.benni-three{
	background: url("../img/navicon.png")no-repeat;
	width: 100%;
	height: 124px;
/* 	margin-left: 21em; */
	margin-top: 1.25em;
	
}

.benni-three-txt{
	font-family: "Helvetica";
	font-size: 1.5em;
	color: #375967;
	margin-top:7em;
}






/*-- video section --*/
.gydus-bottom{
width: 100%;
background-color: #a9a9aa;

}
.video-section{
margin-top:2em;
margin-left:20em;
}

.video-video{
	margin-left:20;
	padding-top:20;
	padding-bottom:20;
}
.vidTitle{
	color:#14859f;
}

/*-- keyfeatures section --*/
.keyfeatures-section{
	margin-top:3em;
	margin-right: 20em;
	background-color: #b0c9cc;
	border:1px solid #777c7c;
	height:249px;
	width:30%;
}
.keyfeatures-section-title{
	color: #14859f;
	font-family: "Helvetica Neue";
	font-size: 0.93em;
	margin-right:10em;
}

.updateLink{
	color:#1f441f;
	font-size: 1.2em;
	margin-left: 2em;
	text-decoration: underline;
}

.whatsnew{
	color: #617d92;
	margin-top: 4em;
	margin-left:2em;
}

.newitems li{
	color:#000000;
	margin-left: 2em;
}


/*--------- LOGIN FORM ---------*/
.notmemyetsec.alert.alert-info{
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
	margin-top:6em;
}

.fb-btn{
	margin-top:1em;
}
.gydus-login{

		width: 100%;
		margin-top:3em;

}

.gydus-login-headertxt{
	color:#385359;
	font-family: "helvetica";
	font-size: 2em;
	margin-left: 1em;
}
.form-horizontal.gydus-form-horizontal{
	margin-left:-2em;

}

#login-inputEmail{
	padding-top: 7px;
	padding-bottom: 6px;
	background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
font-size: 1.25em;
width:60%;
}

.loginEmailError{
padding:.5em;
background: rgb(249,139,139); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,139,139,1) 0%, rgba(255,30,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,139,139,1)), color-stop(100%,rgba(255,30,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f98b8b', endColorstr='#ff1e1e',GradientType=0 ); /* IE6-9 */

/* 	border:2px solid #b94a48; */
	width: 46%;
}

.loginemailerr{
	margin-top:.5em;
	color:white;
}



#login-inputPassword{
	padding-top: 7px;
	padding-bottom: 6px;
	background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
font-size: 1.25em;
width: 60%;

}

.loginPwError{
padding:.5em;
background: rgb(249,139,139); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,139,139,1) 0%, rgba(255,30,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,139,139,1)), color-stop(100%,rgba(255,30,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(249,139,139,1) 0%,rgba(255,30,30,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f98b8b', endColorstr='#ff1e1e',GradientType=0 ); /* IE6-9 */


/* 	border:2px solid #b94a48; */
	width: 46%;
}

.loginpasserr{
	margin-top:.5em;
	color:white;
}

.gydus-loginbtncontrols.controllers{
	margin-left:0;
}
/*--------- Register FORM ---------*/

.ydus-register-headertxt{
	color:#385359;
	font-family: "helvetica";
	font-size: 2em;
	margin-left: 1em;
}
.gydus-register{
	margin-top:10em;
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

	border:.2em solid #385359;
	border-radius: .5em;
	width: 40%;
	margin-left:20em;

}

.gydus-accinfo-headertxt{
	color:#385359;
	font-family: "helvetica";
	font-size: 1.5em;
	margin-left: 5em;
}
.gydus-password-headertxt{
	color:#385359;
	font-family: "helvetica";
	font-size: 1.5em;
	margin-left: 5em;

}
.gydus-register-headertxt{
	color:#385359;
	font-family: "helvetica";
	font-size: 2em;
	margin-left: 1em;
}
.form-horizontal.gydus-form-horizontal{
	margin-left:-2em;

}

#reg-inputName{
	padding-top: 7px;
	padding-bottom: 6px;
	background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
font-size: 1.25em;

}

#reg-inputEmail{
	padding-top: 7px;
	padding-bottom: 6px;
	background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
font-size: 1.25em;

}

#reg-inputPassword{
	padding-top: 7px;
	padding-bottom: 6px;
	background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
font-size: 1.25em;

}


#reg-inputConfirmPassword{
	padding-top: 7px;
	padding-bottom: 6px;
	background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
font-size: 1.25em;

}
/*-------------------------------

		FIND LOCATION

-------------------------------*/

.searchView{
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
	border:.2em solid #385359;
	border-radius: .5em;
	width: 100%;

}
.findLocation{
/* 	margin-top:3em; */
width: 100%;
	
}
.h3-findlocationtitle{
	color:#1d77a3;
	margin-left: 2em;
	
}

.gydus-findL-btn.btn.btn-danger{
margin-top:-3em;
margin-right:10%;
}
.gydus-kw-append{
	width:60%;
}
.gydus-kw-search{
margin-left:5em;
	width:100%;
}
.searchOR{
	margin-left: 7em;
}

.buildingSelect{
	width:60%;
	margin-left:5em;
}
.poiTitleSection.alert.alert-info{
	margin-top:5em;
}
.poiTitleSection.alert.alert-info h4{
	margin-left:2em;
}


.poiSelection{
	margin-top:3em;
	margin-left:3.4em;	
	width:100%;
}
.poiSelectionTwo{
	margin-top:3em;
	margin-left:3.4em;	
	width:100%;
}


.poiSelection label{
	padding-left:1.5em;
}

.poiSelectionTwo label{
	padding-left:1.5em;
}

/*
.poiSelectionTwo{
	margin-left:3.4em;	
	width:5em;
}
*/


.checkbox.inline{
	margin-left:2em;
}
/*-------------------------------

		sasView

-------------------------------*/

.sasView{
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
	border:.2em solid #385359;
	border-radius: .5em;
	margin-top: 6em;
	width: 100%;


}
.gydus-kw-append-desc.control-group{
	width:60%;
	
	
}

.gydus-kw-search-spotDesc{
	margin-left:5em;
	margin-top:1em;
	width:100%;
}

.sasCancel{
	margin-top:1em;
}

/*-------------------------------

		MAP VIEW

-------------------------------*/
.map-spot{
	width:100%;
	height:550px;
}
.mapCanvas{
/* 		margin-left:2em; */
		background-color:purple;

}

.map-view-fL a:hover{
list-style-type: none;
text-decoration: none;
}
.map-view-fL a{
	display:inline-block;

	color:white;
	width: 100%;
	font-style: "Helvetica";
}


/*-------------------------------

	ACCOUNT SETTINGS MENU
	   from map view

-------------------------------*/

.acctMenu{
	height:15em;
	width: 100%;
}

.acctSettings{
	height:4.5em;
	width: 100%;
}

.acctSettings:hover{
	height:4.5em;
	width: 100%;
	background-color:#4695f4;
}

.accountSettingsHead{
	color:#000000;
}

.logOutacctSettings{
margin-top:-1.5em;
	height:4.5em;
	width: 100%;
}
.logOutacctSettings:hover{
	margin-top:-1.5em;
	height:4.5em;
	width: 100%;
	background-color:#ff0000;

}

.logOutaccountSettingsHead{
/* 	margin-left:27em; */
	color:#000000;
}

/*-------------------------------

	ACCOUNT SETTINGS VIEW
	   

-------------------------------*/

.accountSettingsView{
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

	margin-top: 6em;
	width: 100%;
	
}
.accountSettingsView form .controls{
	margin-left:1em;
	
}
.gydus-accSet-name-input.input-xlarge{
	width:70%;
}
.gydus-controls-accountSet.controls{}
.accountSettingsView form .controls button{
	margin-left:11.3em;
	margin-top:3em;
}
.accountSettingsView form.acct-cancel{
/* 	margin-left:2em; */
}

.currentAccinfo{
	padding:1em;
	margin-left: 2em;

}

.gydus-kw-search-name{
	margin-left:6em;
	width:100%;
}

.gydus-kw-search-email{
	margin-left:5em;
	margin-top:3em;
	width:100%;
}
.acct-cancel{
	margin-top:2em;
}
.eAS-controls{
	margin-top:2em;
}
/*-------------------------------

	EDIT ACCOUNT SETTINGS VIEW
	   

-------------------------------*/

.gydus-editAccSett{
	margin-top:10em;
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

	width: 100%;	
}

.gydus-editAccSett .control-group{
	width:100%;
}

.gydus-editAccSett .control-group input{
	width:60%;
	margin-top:1em;
}


/*-------------------------------

	GYDUS MENU
	   

-------------------------------*/
.gydusSetDrop.dropdown-menu{
	
position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin-left:2em;
  width:80%;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.gydusSetDrop.dropdown-menu a{
	font-size: 1.4em;
}


.gydusUserDrop.dropdown-menu{
	position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: right;
  min-width: 160px;
  padding: 5px 0;
  margin-right:2em;
/*   width:40%; */
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;

	
}
/*-------------------------------

		   FOOTER
	   

-------------------------------*/

.footer.row{
	margin-top:-5em;
margin-left:20em;
height:107px;
border:none;
}

.foot-nav{
	height:75px;
	width:246px;
	background: url("../img/footNavbtn.png")no-repeat;
}

.foot-GPS{
	height:107px;
	width:161px;
	background: url("../img/footGPSbtn.png")no-repeat;

}


.foot-sas{
	height:75px;
	width:246px;
	background: url("../img/footSASbtn.png")no-repeat;
}