body {
        background: #fcfcfc;
}

.player {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 100;
        background: red;
        display: block;
        width: 20px;
        height: 20px;
}

#map {
        position: relative;
        z-index: 0;
        border: 1px solid black;
        display: block;
        overflow: auto
}

.walk {
        display: block;
        width: 20px;
        height: 20px;
        background: silver;
        float: left;
}

.wall {
        display: block;
        width: 20px;
        height: 20px;
        background: gray;
        float: left;
}

.clear {
        clear: left;
}

#output {
        clear:both;
        
}